
.seksyen1{
    background-color:#414040;
    padding: 7% 15% 7%;
}

.banner{
    text-align: center;
}

.heading-Pey{
    color: rgba(143, 143, 143, 0.945);
}

.tulisanPutih{
    color: #adadad(109, 10, 175);
}

/* seksyen 2 */

.seksyen2{
    background-color: #687980;
    padding: 7% 15% 7%;
    text-align: center;
}

.seksyen5{
    background-color: #5A6268;
    padding: 5% 20% 5%;
    text-align: left;
    color: white;
    
}

.icon{
    color: #ebf3bf;
    margin-bottom: 1rem;
}

.feature-box{
    padding: 4.5%;
}

.footer{
    text-align: center;
    font-size: xx-large;
    COLOR: #687980;
}
